In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium

In [10]:
df_pois = pd.read_csv('Datasets/pois_filtrados.csv')
df_bus = pd.read_csv('Datasets/Paraderos.csv')
df_metro = pd.read_csv('Datasets/metro.csv')
df_deptos = pd.read_csv('Datasets/dataset_final.csv')

In [11]:
print(df_pois.info())
print(df_bus.info())
print(df_metro.info())
print(df_deptos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23145 entries, 0 to 23144
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   longitude  23145 non-null  float64
 1   latitude   23145 non-null  float64
 2   type       23145 non-null  object
 3   class      23145 non-null  object
 4   name       19691 non-null  object
dtypes: float64(2), object(3)
memory usage: 904.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12635 entries, 0 to 12634
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         12635 non-null  int64
 1   id          12635 non-null  int64
 2   codigo      12635 non-null  object
 3   simt        11774 non-null  object
 4   tipo        12635 non-null  object
 5   clasificac  12635 non-null  object
 6   comuna      12635 non-null  object
 7   zona        12635 non-null  object
 8   eje         12635 non-null  object
 9   desde       12432 non-null  object
 10  hacia       12631 non-null  object
 11  sentido     12635 non-null  object
 12  fila_super  12635 non-null  object
 13  fila_infer  12635 non-null  object
 14  grupo_de_p  12635 non-null  object
 15  identifica  12634 non-null  object
 16  nombre_ust  12635 non-null  object
 17  x           12635 non-null  float64
 18  y           12635 non-null  float64
 19  zona_paga   12635 non-null  int64
 20  n__et       234 non-null    object
 21  corredor    617 non-null    float64
 22  ubica_corr  617 non-null    object
 23  rts         7874 non-null   float64
 24  tipo_rts    7874 non-null   object
 25  rm          12635 non-null  int64
 26  estado_rm   1871 non-null   object
 27  estado      12631 non-null  object
 28  existe_se   11499 non-null  object
 29  codigo_ant  173 non-null    object
 30  fecha_fich  1130 non-null   object
 31  cod_sol_pa  5589 non-null   float64
 32  comentario  465 non-null    object
 33  longitud    12635 non-null  float64
 34  latitud     12635 non-null  float64
dtypes: float64(7), int64(4), object(24)
memory usage: 3.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           143 non-null    int64
 1   linea        143 non-null    object
 2   orden        143 non-null    int64
 3   combinacion  30 non-null     object
 4   nombre       143 non-null    object
 5   longitud     143 non-null    float64
 6   latitud      143 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 7.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25215 entries, 0 to 25214
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    25215 non-null  int64
 1   monto                 25215 non-null  int64
 2   superficie_t          25215 non-null  float64
 3   dormitorios           25215 non-null  int64
 4   dormitorios_faltante  25215 non-null  int64
 5   banos                 25215 non-null  int64
 6   banos_faltante        25215 non-null  int64
 7   antiguedad            25215 non-null  int64
 8   antiguedad_faltante   25215 non-null  int64
 9   Or_N                  25215 non-null  int64
 10  Or_S                  25215 non-null  int64
 11  Or_E                  25215 non-null  int64
 12  Or_O                  25215 non-null  int64
 13  Or_Faltante           25215 non-null  int64
 14  terraza               25215 non-null  float64
 15  estacionamiento       25215 non-null  int64
 16  bodegas               25215 non-null  int64
 17  flag_Departamento     25215 non-null  int64
 18  flag_Multinivel       25215 non-null  int64
 19  flag_Semipiso         25215 non-null  int64
 20  flag_Premium          25215 non-null  int64
 21  flag_Monoambiente     25215 non-null  int64
 22  flag_Loft             25215 non-null  int64
 23  latitud               25215 non-null  float64
 24  longitud              25215 non-null  float64
 25  comuna                25215 non-null  object
 26  calle                 25214 non-null  object
dtypes: float64(4), int64(21), object(2)
memory usage: 5.2+ MB
None

In [14]:
# üìç Definir el centro del mapa
centro_mapa = [-33.45, -70.66]

# üó∫Ô∏è Crear el mapa de Folium
m = folium.Map(location=centro_mapa, zoom_start=12)

# üé® Colores para cada tipo de elemento
colors = {
    'POIs': 'blue',
    'Bus': 'red',
    'Metro': 'lightgreen',
    'Departamentos': 'purple'
}

# üîµ A√±adir POIs al mapa (azul)
# Para POIs, las columnas son 'longitude' y 'latitude'
for idx, row in df_pois.iterrows():
    folium.CircleMarker(
        location=[row['latitude'], row['longitude']],
        radius=2,
        color=colors['POIs'],
        fill=True,
        fill_color=colors['POIs'],
        fill_opacity=0.7,
        tooltip=f"{row['type']} - {row['class']}"
    ).add_to(m)

# üî¥ A√±adir paradas de bus al mapa (rojo)
# Para Bus, las columnas son 'longitud' y 'latitud'
for idx, row in df_bus.iterrows():
    folium.CircleMarker(
        location=[row['latitud'], row['longitud']],
        radius=2,
        color=colors['Bus'],
        fill=True,
        fill_color=colors['Bus'],
        fill_opacity=0.7
    ).add_to(m)

# üü¢ A√±adir estaciones de metro al mapa (verde)
# Para Metro, las columnas son 'longitud' y 'latitud'
for idx, row in df_metro.iterrows():
    folium.CircleMarker(
        location=[row['latitud'], row['longitud']],
        radius=2,
        color=colors['Metro'],
        fill=True,
        fill_color=colors['Metro'],
        fill_opacity=0.7
    ).add_to(m)

# üü£ A√±adir departamentos al mapa (morado)
# Para Deptos, las columnas son 'longitud' y 'latitud'
for idx, row in df_deptos.iterrows():
    folium.CircleMarker(
        location=[row['latitud'], row['longitud']],
        radius=2,
        color=colors['Departamentos'],
        fill=True,
        fill_color=colors['Departamentos'],
        fill_opacity=0.7
    ).add_to(m)

# üíæ Guardar el mapa como un archivo HTML
m.save("mapa_elementos_santiago.html")
print("Mapa guardado como mapa_elementos_santiago.html")

Mapa guardado como mapa_elementos_santiago.html

In [15]:
print(df_pois['class'].unique())
print('\n')
print(df_pois['type'].unique())

['sport_and_leisure' 'medical' 'educational' 'veterinary'
 'food_and_drink_stores' 'arts_and_entertainment' 'food_and_drink'
 'building' 'park_like' 'public_facilities' 'religion' 'education']


['Sports Centre' 'Hospital' 'Clinic' 'Kindergarten' 'Veterinary'
 'Supermarket' 'Arts Centre' 'Cafe' 'Restaurant' 'Dentist' 'Commercial'
 'Fast Food' 'Playground' 'Post Office' 'Park' 'Police' 'Bakery'
 'Convenience' 'School' 'Courthouse' 'Place Of Worship' 'Fitness Centre'
 'Pharmacy' 'Swimming Pool' 'Bar' 'Confectionery' 'Monastery'
 'Fire Station' 'Pastry' 'Yes' 'Library' 'Doctors' 'University' 'Pitch'
 'Alcohol' 'Greengrocer' 'Track' 'Nature Reserve' 'Attraction' 'Viewpoint'
 'Pub' 'Gallery' 'Ice Cream' 'Museum' 'College' 'Community Centre' 'Civic'
 'Theatre' 'Beverages' 'Marketplace' 'Butcher' 'Stadium'
 'Recreation Ground' 'Fitness Station' 'Social Facility' 'Industrial'
 'Allotments' 'Ruins' 'Townhall' 'Church' 'Seafood' 'Food Court' 'Cinema'
 'Nightclub' 'Office' 'Picnic Site' 'Construction' 'Deli' 'Theme Park'
 'Trampoline Park' 'Dog Park' 'Ice Rink' 'Religious' 'Events Venue' 'Farm'
 'Spa' 'Dojo' 'Dance' 'Garden' 'Golf Course' 'Chapel' 'Transportation'
 'Fitness' 'Grocery' 'Warehouse' 'Public Building' 'Adult Gaming Centre'
 'Biergarten' 'Prison' 'Sports Hall' 'Sauna' 'Wine' 'Water Park'
 'Churchyard' 'Concierger' 'Sport' 'Amusement Arcade' 'Government' 'Wood'
 'Roof' 'Hotel' 'Cemetery' 'Edificio Luis Nu√±ez' 'Casino' 'Administrative'
 'Salas Y Cacino' 'Sala De Juegos' 'Service' 'Condominium' 'Oficinas'
 'Train Station' 'Public' 'Village Green' 'Hangar' 'Grandstand' 'Market'
 'Bird Hide' 'Outdoor Seating' 'Brewery' 'Temple' 'Yoga' 'Zoo'
 'Indoor Play' 'Trailhead' 'Hut' 'Hackerspace' 'Grave Yard' 'Horse Riding'
 'Aquarium' 'Healthcare' 'Greenhouse' 'Raceway' 'Camp Site' 'Escape Game'
 'Stage' 'Dormitory']

In [53]:
for class_val, group in df_pois.groupby('class'):
    type_counts = group['type'].value_counts()
    
    # üìù Formatear la salida para incluir el conteo
    formatted_types = []
    for type_name, count in type_counts.items():
        formatted_types.append(f"{type_name} ({count})")
    
    print(f"Clase: {class_val}")
    print(f"  Tipos √∫nicos: {', '.join(formatted_types)}")
    print("-" * 30)

Clase: arts_and_entertainment
  Tipos √∫nicos: Museum (83), Theatre (71), Arts Centre (59), Gallery (47), Stadium (32), Cinema (32), Attraction (31), Track (19), Amusement Arcade (5), Water Park (4), Casino (4), Zoo (4), Theme Park (3), Aquarium (1), Raceway (1)
------------------------------
Clase: building
  Tipos √∫nicos: Commercial (172), Industrial (86), Office (46), Church (41), Warehouse (26), Roof (20), Construction (16), Chapel (13), Civic (9), Grandstand (8), Transportation (7), Hut (6), Public (6), Ruins (6), Service (5), Hotel (4), Fire Station (3), Train Station (3), Greenhouse (1), Stage (1), Stadium (1), Sports Centre (1), Temple (1), Healthcare (1), Sala De Juegos (1), Hangar (1), Oficinas (1), Condominium (1), Salas Y Cacino (1), Administrative (1), Edificio Luis Nu√±ez (1), Government (1), Concierger (1), Dormitory (1)
------------------------------
Clase: education
  Tipos √∫nicos: University (467), College (70)
------------------------------
Clase: educational
  Tipos √∫nicos: School (2528), Kindergarten (1022)
------------------------------
Clase: food_and_drink
  Tipos √∫nicos: Restaurant (2489), Fast Food (1075), Cafe (762), Bar (174), Pub (130), Ice Cream (85), Nightclub (63), Food Court (19), Brewery (5), Biergarten (1)
------------------------------
Clase: food_and_drink_stores
  Tipos √∫nicos: Convenience (1467), Alcohol (660), Bakery (532), Supermarket (436), Butcher (279), Greengrocer (117), Marketplace (75), Pastry (62), Confectionery (40), Seafood (28), Beverages (18), Wine (11), Deli (8), Farm (2), Grocery (2), Market (1)
------------------------------
Clase: medical
  Tipos √∫nicos: Pharmacy (925), Clinic (343), Dentist (209), Doctors (202), Hospital (123)
------------------------------
Clase: park_like
  Tipos √∫nicos: Park (1294), Playground (691), Recreation Ground (95), Garden (36), Cemetery (30), Dog Park (19), Nature Reserve (15), Picnic Site (15), Golf Course (11), Village Green (6), Allotments (5), Wood (4), Grave Yard (1), Camp Site (1)
------------------------------
Clase: public_facilities
  Tipos √∫nicos: Police (98), Fire Station (93), Library (83)
------------------------------
Clase: religion
  Tipos √∫nicos: Place Of Worship (743), Religious (14), Monastery (7), Churchyard (4)
------------------------------
Clase: sport_and_leisure
  Tipos √∫nicos: Pitch (1459), Swimming Pool (1054), Sports Centre (309), Fitness Centre (159), Viewpoint (59), Fitness (45), Sports Hall (23), Dojo (16), Dance (11), Horse Riding (4), Sport (3), Fitness Station (3), Bird Hide (2), Outdoor Seating (2), Trampoline Park (2), Ice Rink (2), Sauna (2), Yoga (1), Indoor Play (1), Trailhead (1), Hackerspace (1), Spa (1), Escape Game (1)
------------------------------
Clase: veterinary
  Tipos √∫nicos: Veterinary (235)
------------------------------

In [57]:
tipo_a_visualizar = 'Transportation' 
df_tipo_especifico = df_pois[df_pois['type'] == tipo_a_visualizar]
print(f"Filas con type = '{tipo_a_visualizar}':")
print(df_tipo_especifico.sample(7))
print(f"\nTotal de entradas para '{tipo_a_visualizar}': {len(df_tipo_especifico)}")

Filas con type = 'Transportation':
       longitude   latitude            type     class  \
6476  -70.652862 -33.437202  Transportation  building
10509 -70.655597 -33.446183  Transportation  building
5278  -70.606793 -33.462607  Transportation  building
7805  -70.605397 -33.454534  Transportation  building
2147  -70.658197 -33.444386  Transportation  building
21303 -70.615828 -33.499331  Transportation  building
21608 -70.729350 -33.365945  Transportation  building

                                                    name
6476                          Estaci√≥n Plaza de Armas L3
10509  Centro Integrado de Control del Metro de Santiago
5278                              Metro Estadio Nacional
7805       Centro de Control de Operaciones L√≠neas 3 y 6
2147                        Terminal de Buses Los H√©roes
21303                                        San Joaqu√≠n
21608                              Metro Plaza Quilicura

Total de entradas para 'Transportation': 7

In [58]:
tipo_a_eliminar = 'Transportation' 
print(f"Tama√±o original de df_pois: {len(df_pois)} filas")
df_pois.drop(df_pois[df_pois['type'] == tipo_a_eliminar].index, inplace=True)
print(f"Tama√±o de df_pois despu√©s de eliminar '{tipo_a_eliminar}': {len(df_pois)} filas")
print(df_pois.sample(10))

Tama√±o original de df_pois: 21921 filas
Tama√±o de df_pois despu√©s de eliminar 'Transportation': 21914 filas
       longitude   latitude         type                  class  \
22343 -70.632720 -33.567154        Pitch      sport_and_leisure
10432 -70.520918 -33.352532       Bakery  food_and_drink_stores
6048  -70.607331 -33.441331   University              education
13816 -70.627437 -33.445915   Restaurant         food_and_drink
10856 -70.662249 -33.445280   University              education
19307 -70.704650 -33.471499   Playground              park_like
2819  -70.672274 -33.428903  Marketplace  food_and_drink_stores
15236 -70.705289 -33.598814   University              education
8855  -70.808298 -33.569268         Park              park_like
13236 -70.556305 -33.570420  Supermarket  food_and_drink_stores

                                       name
22343               Canchas Campus Antumapu
10432              Chocolateria Varsovienne
6048                              Postgrado
13816                              Bertazzo
10856  Espacio Estudiantil Vicente Huidobro
19307                                   NaN
2819                           Persa Bulnes
15236                               Duoc UC
8855                          Plaza Betania
13236                                Tottus

Se eliminaron los type Yes, Adult Gaming Centre, Events Venue, Community Centre, Post Office, Courthouse, Social Facility, Townhall, Public Building, Prison, Viewpoint, Transportation