In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_columns = None
pd.set_option('display.float_format', '{:.2f}'.format)

In [7]:
df = pd.read_csv('Datasets\deptos.csv')

C:\Users\Pc-ADS\AppData\Local\Temp\ipykernel_6520\2866178669.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Datasets\deptos.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26299 entries, 0 to 26298
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                26299 non-null  int64
 1   link              26299 non-null  object
 2   nombre            26299 non-null  object
 3   fecha_consultado  26299 non-null  object
 4   fecha_publicado   20319 non-null  object
 5   divisa            26299 non-null  object
 6   monto             26299 non-null  int64
 7   ppm2              26294 non-null  float64
 8   ppm2_avg          26238 non-null  float64
 9   superficie_t      26299 non-null  float64
 10  superficie_u      26066 non-null  float64
 11  terraza           16981 non-null  float64
 12  ambientes         9024 non-null   float64
 13  dormitorios       25597 non-null  float64
 14  banos             23986 non-null  float64
 15  ubicacion         26299 non-null  object
 16  estacionamiento   14750 non-null  float64
 17  bodegas           13590 non-null  float64
 18  cantidad_pisos    16239 non-null  float64
 19  dep_por_piso      13273 non-null  float64
 20  piso              16174 non-null  float64
 21  tipo_depto        20883 non-null  object
 22  orientacion       17124 non-null  object
 23  antiguedad        20597 non-null  object
 24  gastos_comunes    2 non-null      object
 25  latitud           26299 non-null  float64
 26  longitud          26299 non-null  float64
 27  pais              26299 non-null  object
 28  region            26299 non-null  object
 29  comuna            26299 non-null  object
 30  calle             26298 non-null  object
 31  direccion_num     26298 non-null  object
dtypes: float64(15), int64(2), object(15)
memory usage: 6.4+ MB

#### Observaciones:
- ppm2 es monto/superficie_u

In [4]:
df.sample(5)

,id,link,nombre,fecha_consultado,fecha_publicado,divisa,monto,ppm2,ppm2_avg,superficie_t,superficie_u,terraza,ambientes,dormitorios,banos,ubicacion,estacionamiento,bodegas,cantidad_pisos,dep_por_piso,piso,tipo_depto,orientacion,antiguedad,gastos_comunes,latitud,longitud,pais,region,comuna,calle,direccion_num
18046,1586697401,https://portalinmobiliario.com/MLC-1586697401,Departamento En Venta De 2 Dorm. En Recoleta,2025-05-06,Publicado hace 52 días,UF,3690,79.00,74.00,52.47,46.47,6.00,NaN,2.00,1.00,"Recoleta Con Union, Cementerios, Recoleta, RM ...",NaN,NaN,22.00,NaN,12.00,Departamento,N,3 años,NaN,-33.42,-70.64,Chile,Región Metropolitana de Santiago,Recoleta,Ávila,Ávila
5571,2770339838,https://portalinmobiliario.com/MLC-2770339838,"Uf. 3490 , Depto. 2d,2b,1e Y 1b. Centrico Y Co...",2025-04-26,Publicado hace 5 meses,UF,3490,55.00,67.00,65.00,63.00,2.00,NaN,2.00,2.00,"Portugal 600 - 900, Barrio Diez de Julio, Sant...",1.00,1.00,20.00,10.00,12.00,Departamento,SO,7 años,NaN,-33.45,-70.63,Chile,Región Metropolitana de Santiago,Santiago,Avenida Portugal,Avenida Portugal
4026,1563801803,https://portalinmobiliario.com/MLC-1563801803,Amplio Departamento En San Damian,2025-04-21,NaN,UF,31000,98.00,96.00,492.00,316.00,176.00,4.00,NaN,NaN,Revisa el remitente de los e-mails y asegúrate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.38,-70.52,Chile,Región Metropolitana de Santiago,Las Condes,Camino La Viña,Camino La Viña
11128,2861178498,https://portalinmobiliario.com/MLC-2861178498,Dpto 80 M2 Cercano A Est. Metro Chile España. ...,2025-04-26,Publicado hace 34 días,UF,5145,68.00,84.00,80.00,75.00,5.00,2.00,2.00,2.00,Cercano A Est. Metro - 2 Dormit. 2 Baños-bod Y...,1.00,1.00,6.00,1.00,6.00,Piso,N,11 años,NaN,-33.46,-70.59,Chile,Región Metropolitana de Santiago,Ñuñoa,Los Jardines,Los Jardines
16377,1543885815,https://portalinmobiliario.com/MLC-1543885815,Departamento Tucapel Id: 116037,2025-04-29,Publicado hace 5 meses por Houm,UF,3390,99.00,72.00,36.00,34.00,NaN,1.00,1.00,1.00,"Tucapel, Metro Irarrázaval, Ñuñoa, RM (Metropo...",NaN,NaN,NaN,NaN,NaN,Departamento,N,3 años,NaN,-33.45,-70.63,Chile,Región Metropolitana de Santiago,Ñuñoa,Tucapel,Tucapel

In [8]:
df.to_excel('deptos.xlsx', index=False)

### Seguir revisando en ese excel exportado los años que hay que revisar. como 1025, 181, 508, 1820, 914, 1023, 1816

In [ ]:
# Ajustamos el formato de algunas columnas
columnas_a_convertir = ['ambientes', 'dormitorios', 'banos', 'estacionamiento', 'bodegas', 'cantidad_pisos', 'dep_por_piso', 'piso']  # Reemplaza con tus nombres reales
df[columnas_a_convertir] = df[columnas_a_convertir].astype('Int64')  # Usa 'Int64' para permitir valores NaN

ValueError: could not convert string to float: '15.107.462'

In [6]:
df['antiguedad'].unique()
#df['antiguedad'].describe()

array(['1 años', '2 años', '6 años', '0 años', '26 años', '21 años',
       '30 años', '13 años', '29 años', '16 años', '24 años', '45 años',
       nan, '27 años', '22 años', '10 años', '37 años', '35 años',
       '53 años', '31 años', '12 años', '28 años', '-1 años', '5 años',
       '9 años', '11 años', '46 años', '55 años', '20 años', '56 años',
       '50 años', '18 años', '36 años', '23 años', '3 años', '49 años',
       '43 años', '25 años', '59 años', '15 años', '7 años', '4 años',
       '8 años', '47 años', '14 años', '34 años', '33 años', '42 años',
       '19 años', '2.010 años', '17 años', '-0 años', '70 años',
       '2.007 años', '80 años', '2.000 años', '1.974 años', '-3 años',
       '2.012 años', '60 años', '2.009 años', '2.025 años', '-11 años',
       '38 años', '2.011 años', '2.014 años', '32 años', '44 años',
       '65 años', '62 años', '125 años', '75 años', '2.005 años',
       '1.930 años', '2.017 años', '90 años', '40 años', '54 años',
       '-9 años', '2.019 años', '-2 años', '67 años', '39 años',
       '2.018 años', '73 años', '61 años', '1.025 años', '-15 años',
       '68 años', '2.015 años', '74 años', '114 años', '85 años',
       '124 años', '58 años', '1.960 años', '2.001 años', '1.818 años',
       '2.016 años', '52 años', '79 años', '66 años', '69 años',
       '78 años', '51 años', '2.008 años', '1.996 años', '88 años',
       '2.002 años', '41 años', '48 años', '1.995 años', '57 años',
       '2.006 años', '914 años', '63 años', '77 años', '76 años',
       '72 años', '2.023 años', '2.021 años', '1.963 años', '64 años',
       '91 años', '84 años', '1.997 años', '83 años', '86 años',
       '71 años', '81 años', '1.948 años', '153 años', '99 años',
       '2.013 años', '95 años', '105 años', '89 años', '1.958 años',
       '-50 años', '100 años', '87 años', '-14 años', '1.955 años',
       '1.978 años', '2.004 años', '122 años', '82 años', '508 años',
       '2.022 años', '151 años', '1.986 años', '2.024 años', '1.999 años',
       '110 años', '1.990 años', '1.820 años', '1.982 años', '409 años',
       '2.020 años', '1.998 años', '92 años', '2.003 años', '2,5 años',
       '96 años', '1.023 años', '1.816 años'], dtype=object)

In [29]:
df['monto'].unique()

array([1.12000000e+04, 1.74900000e+04, 2.10000000e+04, ...,
       1.69400000e+03, 1.53702499e+15, 2.32400000e+03])

#### Borramos columnas que sabemos inutiles o redundantes.
 - ubicacion: Información escrita por los usuarios que publican en el sitio, sin validación y con distintos formatos. Cualquier informacion valioza al respecto se puede obtener mediante las coordenadas.
 - direccion_num: Mismos valores que en columna calle, error de la API o el llamado a esta. 
 - region: Todos los valores son Región Metropolitana de Santiago.
 - pais: Todos los valores son Chile.
 - fecha_consultado: No tiene mayor relevancia, todos fueron consultados en un rango 1 mes y 8 dias.
 - fecha_publicado: 6000 datos faltantes aprox. El proyecto no contempla el factor temporal por ahora.
 - gastos_comunes: solo hay 2 datos no nulos. Problema en el scraping. Intentaré obtener esos datos si es posible pero por ahora proseguiré sin ellos.
 - link: información redundante con id
 - nombre: Información escrita por los usuarios que publican en el sitio, sin validación y con distintos formatos. Incluyen comentarios apreciativos y subjetivos.
 - ppm2_avg: Precio promedio en la zona. No se conoce los criterios para este cálculo, como el metodo para determinar la zona, las similitudes necesarias para comparar con otras viviendas, etc.
 - divisa: tanto monto como ppm2 está todo expresado en UF

##### Las demás columnas requieren más análisis

In [17]:
# Borramos las columnas mencionadas
df.drop(columns=["ubicacion", "direccion_num", "region", "pais", "fecha_consultado", "fecha_publicado", "gastos_comunes", "link", "nombre", "ppm2_avg", "divisa"], inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26316 entries, 0 to 26315
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               26316 non-null  int64
 1   monto            26316 non-null  float64
 2   ppm2             26310 non-null  float64
 3   superficie_t     26316 non-null  float64
 4   superficie_u     26069 non-null  float64
 5   terraza          16983 non-null  float64
 6   ambientes        9032 non-null   float64
 7   dormitorios      25612 non-null  float64
 8   banos            24001 non-null  float64
 9   estacionamiento  14758 non-null  float64
 10  bodegas          13593 non-null  float64
 11  cantidad_pisos   16248 non-null  float64
 12  dep_por_piso     13277 non-null  float64
 13  piso             16176 non-null  float64
 14  tipo_depto       20890 non-null  object
 15  orientacion      17130 non-null  object
 16  antiguedad       20606 non-null  object
 17  latitud          26316 non-null  float64
 18  longitud         26316 non-null  float64
 19  comuna           26316 non-null  object
 20  calle            26315 non-null  object
dtypes: float64(15), int64(1), object(5)
memory usage: 4.2+ MB

In [11]:
df.describe()

,id,monto,ppm2,ppm2_avg,superficie_t,superficie_u,terraza,ambientes,dormitorios,banos,estacionamiento,bodegas,cantidad_pisos,dep_por_piso,piso,latitud,longitud
count,26316.00,26316.00,26310.00,26253.00,26316.00,26069.00,16983.00,9032.00,25612.00,24001.00,14758.00,13593.00,16248.00,13277.00,16176.00,26316.00,26316.00
mean,2246759837.02,1785250434750227.75,79.26,77.95,134.26,103.08,27.08,3.08,6.66,1.97,9.46,2.04,13.91,9.07,25.02,-33.44,-70.62
std,627755669.14,6110682486362826.00,427.59,18.80,1917.20,584.94,273.80,11.79,694.27,1.17,914.68,95.79,180.93,47.77,1240.26,0.04,0.05
min,1359204515.00,400.00,0.00,0.21,1.00,-0.01,0.50,0.00,1.00,1.00,-1.00,-1.00,1.00,-6.00,-2.00,-33.65,-70.83
25%,1580476552.50,2800.00,53.00,63.00,44.00,41.00,3.00,2.00,1.00,1.00,1.00,1.00,5.00,4.00,3.00,-33.46,-70.65
50%,2751955537.00,5800.00,70.00,73.00,64.85,60.00,6.00,3.00,2.00,2.00,1.00,1.00,11.00,6.00,6.00,-33.44,-70.62
75%,2850891470.50,15500.00,92.00,91.00,115.00,100.00,20.00,4.00,3.00,2.00,2.00,1.00,19.00,10.00,11.00,-33.42,-70.58
max,2864912270.00,76851250561974768.00,65000.00,197.00,292675.00,66635.00,32543.00,1111.00,111111.00,43.00,111111.00,11111.00,22902.00,2203.00,111111.00,-33.28,-70.49

In [19]:
df['estacionamiento'].unique()
#df['terraza'].describe()

array([ 1.00000e+00,  2.00000e+00,  5.00000e+00,  3.00000e+00,
                nan,  4.00000e+00,  1.00000e+01,  1.00000e+02,
        4.00000e+01,  3.00000e+01,  6.00000e+00,  8.00000e+00,
        7.00000e+00,  3.10000e+01,  2.20000e+01,  2.00000e+02,
        4.80000e+01,  1.70000e+01,  5.00000e+01,  1.20000e+02,
        5.30000e+02,  1.20000e+01,  1.10000e+01,  1.11111e+05,
        9.00000e+00,  1.30000e+01,  1.55000e+02,  1.60000e+01,
        1.50000e+01,  2.50000e+01,  2.60000e+01,  8.00000e+01,
        2.90000e+01,  4.50000e+01,  2.80000e+01,  2.70000e+01,
        1.40000e+01,  5.10000e+01,  3.90000e+01,  1.31000e+02,
        1.50000e+02,  3.27000e+02,  2.00000e+01,  5.60000e+01,
        2.30000e+01,  0.00000e+00,  2.10000e+01,  1.10000e+03,
        4.00000e+02,  1.10000e+02,  6.20000e+01,  6.60000e+01,
        8.90000e+01,  1.16000e+02,  1.03000e+02, -1.00000e+00])