In [1]:
import json
import os
import pandas as pd

In [6]:
# Ruta a la carpeta con los archivos JSON
ruta_carpeta = 'json_deptos_rm'

# Obtener todos los archivos JSON ordenados
archivos_json = sorted([f for f in os.listdir(ruta_carpeta) if f.endswith('.json')])

data = []

for idx, archivo in enumerate(archivos_json, 1):
    ruta_archivo = os.path.join(ruta_carpeta, archivo)
    with open(ruta_archivo, 'r', encoding='utf-8') as f:
        contenido = json.load(f)

    for feature in contenido.get('features', []):
        propiedades = feature.get('properties', {})
        geometria = feature.get('geometry', {})
        tilequery = propiedades.get("tilequery", {})

        fila = {
            'archivo_origen': archivo,
            'longitude': geometria.get('coordinates', [None, None])[0],
            'latitude': geometria.get('coordinates', [None, None])[1],
        }

        # Aplanar el resto de las propiedades directamente
        fila.update(propiedades)

        # Flatten tilequery
        fila['tilequery_distance'] = tilequery.get('distance', None)
        fila['tilequery_geometry'] = tilequery.get('geometry', None)

        data.append(fila)

# Crear DataFrame
df = pd.DataFrame(data)

# Exportar a CSV
df.to_csv('pois_viviendas.csv', index=False, encoding='utf-8')

print(f"Dataset exportado exitosamente con {len(df)} filas.")

Dataset exportado exitosamente con 1291395 filas.

In [2]:


# Ruta a tu carpeta con los JSON
ruta_carpeta = 'json_deptos_rm'  # Cambia esto a tu path real
archivos_json = sorted([f for f in os.listdir(ruta_carpeta) if f.endswith('.json')])[:5]

data = []

for idx, archivo in enumerate(archivos_json, 1):
    ruta_archivo = os.path.join(ruta_carpeta, archivo)
    with open(ruta_archivo, 'r', encoding='utf-8') as f:
        contenido = json.load(f)

    for feature in contenido.get('features', []):
        propiedades = feature.get('properties', {})
        geometria = feature.get('geometry', {})
        tilequery = propiedades.get("tilequery", {})

        fila = {
            'archivo_origen': archivo,
            'longitude': geometria.get('coordinates', [None, None])[0],
            'latitude': geometria.get('coordinates', [None, None])[1],
        }

        # Aplanar el resto de las propiedades directamente
        fila.update(propiedades)

        # Flatten tilequery
        fila['tilequery_distance'] = tilequery.get('distance', None)
        fila['tilequery_geometry'] = tilequery.get('geometry', None)

        data.append(fila)

df_prueba = pd.DataFrame(data)

In [4]:
df_prueba.head()

,archivo_origen,longitude,latitude,category_zh-Hans,type,filterrank,category_en,sizerank,iso_3166_1,maki,name_script,iso_3166_2,class,name,tilequery,tilequery_distance,tilequery_geometry,name_en,name_es,brand
0,1359204515.json,-70.566756,-33.411691,体育中心,Sports Centre,4,Sports Complex,15,CL,marker,Latin,CL-RM,sport_and_leisure,Pacific Fitness,"{'distance': 108.66600373610387, 'geometry': '...",108.666004,point,NaN,NaN,NaN
1,1359204515.json,-70.566539,-33.411910,NaN,Yes,5,NaN,16,CL,marker,Latin,CL-RM,general,Automóvil Club de Chile,"{'distance': 117.75011022625584, 'geometry': '...",117.750110,point,NaN,NaN,NaN
2,1359204515.json,-70.568423,-33.411289,医院,Hospital,2,Hospital,16,CL,hospital,Latin,CL-RM,medical,Cirujias Plasticas Acqua,"{'distance': 117.83003479640705, 'geometry': '...",117.830035,point,NaN,NaN,NaN
3,1359204515.json,-70.566457,-33.412217,诊所,Clinic,5,Clinic,16,CL,doctor,Latin,CL-RM,medical,Clínica CELA Manquehue,"{'distance': 121.1178116788201, 'geometry': 'p...",121.117812,point,NaN,NaN,NaN
4,1359204515.json,-70.566376,-33.412594,商店,Yes,5,Shop,16,CL,marker,Latin,CL-RM,store_like,Multimarket,"{'distance': 136.0378785353219, 'geometry': 'p...",136.037879,point,NaN,NaN,NaN

In [5]:
df_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   archivo_origen      250 non-null    object
 1   longitude           250 non-null    float64
 2   latitude            250 non-null    float64
 3   category_zh-Hans    233 non-null    object
 4   type                250 non-null    object
 5   filterrank          250 non-null    int64
 6   category_en         234 non-null    object
 7   sizerank            250 non-null    int64
 8   iso_3166_1          250 non-null    object
 9   maki                250 non-null    object
 10  name_script         218 non-null    object
 11  iso_3166_2          250 non-null    object
 12  class               250 non-null    object
 13  name                222 non-null    object
 14  tilequery           250 non-null    object
 15  tilequery_distance  250 non-null    float64
 16  tilequery_geometry  250 non-null    object
 17  name_en             2 non-null      object
 18  name_es             6 non-null      object
 19  brand               30 non-null     object
dtypes: float64(3), int64(2), object(15)
memory usage: 39.2+ KB